{% extends "base_generic.html" %}

{% block content %}
    <h1>Ihre Rechnung mit der Rechnungsnummer: {{ invoice.id }}:</h1>

    {% if invoice.bezahl_status == 'offen' %}<span style="color: red; ">{% else %}<span style="color: green; ">{% endif %}
    <h4>Rechnungsstatus: {{ invoice.bezahl_status }}</h4>
    </span>
    <table>
        <tr>
            <td><strong>Rezept:&nbsp;&nbsp;&nbsp;</strong></td>
            <td><strong>Bestellmenge:&nbsp;&nbsp;&nbsp;</strong></td>
            <td><strong>Anlieferung als Fertigteig:&nbsp;&nbsp;&nbsp;</strong></td>
            <td></td>
        </tr>
    {% for pos in orderposition %}
        <tr>
            <td>{{ pos.rezept }}</td>
            <td>{{ pos.menge}}</td>
            <td>{% if pos.als_teig %}ja{% else %}nein{% endif%}</td>
        </tr>
    {% endfor %}
    </table>

    <br /><br />
    <h4><strong>Rechnungssumme: {{ invoice.rechnungs_summe }} EUR</strong></h4>
    <h5>Mehrwertsteuer: {{ mwst}} EUR</h5>
    <h4><strong>Gesamtsumme: {{ total }} EUR</strong></h4>
{% endblock %}