{% extends "base_generic.html" %}

{% block content %}
    <h1>{{ receipe.rezept_bezeichnung }}</h1>
    <br />
    <table>
        <tr>
            <td><strong>Zutat:&nbsp;&nbsp;&nbsp;</strong></td>
            <td><strong>Menge:</strong></td>
        </tr>
    {% for recipelist in recipe_lists %}
        <tr>
            <td>{{ recipelist.ingredient }}&nbsp;&nbsp;&nbsp;</td>
            <td>{{ recipelist.amount }}</td>
        </tr>
    {%  endfor %}
    </table>
    <br />
    <form method="POST" action="{{ request.get_full_path }}">
        {% csrf_token %}
        {{ recipe_list_form }}
        <input type="submit" value="Weitere Zutat hinzufügen" class="btn-primary btn">
    </form>
{% endblock %}